// https://gitlab.gnome.org/GNOME/gtk/-/blob/main/gtk/theme/Default/_colors-public.scss

window.Bar {
  background-color: transparent;
  font-weight: bold;
  font-size: 0.9em;
  color: #d8dee9;
  
  min-height: 1em;
  min-width: 1em;

  > centerbox {
    background-color: rgba(46, 52, 64, 0.9);
    border-radius: 8px;
    margin: 6px;
  }

  button {
    background-color: rgba(46, 52, 64, 0.7);
    color: #d8dee9;
    border-radius: 6px;
    margin: 1px;
    border: none;
    padding: 4px 8px;
    min-height: 0.8em;
  }
  
  button:hover {
    background-color: rgba(94, 129, 172, 0.7);
  }

  button.focused {
    color: #eceff4;
    background-color: #5e81ac;
    border: 1px solid #5e81ac;
  }

  .percents {
    font-size: 9px;
  }
}
