/* waybar style.css */
@define-color bgcolor #002b36;	/* background color */
@define-color fgcolor #000000;  /* foreground color */
@define-color charging #07fb05; /* battery charging color */
@define-color plugged #acfcad;  /* ac plugged color */
@define-color critical #ff0000; /* critical color */
@define-color warning #f3f809;  /* warning color */
@define-color hover #94a6e3;    /* mouse hover over workspace color */ 
/* solarized dark colors */
@define-color   base03  #002b36;
@define-color   base02  #073642;
@define-color   base01  #586e75;
@define-color   base00  #657b83;
@define-color   base0   #839496;
@define-color   base1   #93a1a1;
@define-color   base2   #eee8d5;
@define-color   base3   #fdf6e3;
@define-color   yellow  #b58900;
@define-color   orange  #cb4b16;
@define-color   red     #dc322f;
@define-color   magenta #d33682;
@define-color   violet  #6c71c4;
@define-color   blue    #268bd2;
@define-color   cyan    #2aa198;
@define-color   green   #859900;


* {
	font-size: 10pt;
	font-family: "Noto Sans", "Font Awesome 5 Free";
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
}
window#waybar {
    background: alpha(@base03, 0.85);
	color: @base0;
}

#mode {
	color: @critical;
}

#workspaces button {
	padding-left: 5px;
	padding-right: 5px;
	background: #004152;
	color: @hover;  
} 

#workspaces button.active {
	background: #007a99;
	color: @fgcolor;
}

#workspaces button:hover {
	background: @hover;
	color: @fgcolor;
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
}

#custom-cap-left, #custom-cap-right {
	color: @bgcolor;
	font-size: 24px;
}

#custom-weather,
#custom-offswitch {
  	background: @bgcolor;
}

#custom-vpn {
	background: @bgcolor;
  	color: @critical;
}

#custom-uptime {
	background: @bgcolor;
	padding-left: 10px;
}

#custom-pacman {
  background: @bgcolor;
}

#tray {
  padding-right: 10px;
  padding-left: 10px;
}

#clock,
#custom-aur {
  color: @base0;
  background: @bgcolor;
  padding-right: 10px;
  padding-left: 4px;
}

/* LEFT */
#idle_inhibitor,
#cpu, 
#temperature, 
#memory,  
#battery,
#disk,
#pulseaudio,
#backlight,
#custom-ddcutil,
#network{
	color: @base0;
	background: @bgcolor;
	padding-left: 10px;
}

#idle_inhibitor.activated {
    color:@critical;
}

#pulseaudio.muted {
	color: @critical;
}

#pulseaudio.mic.source-muted {
	color: @critical;
}

#disk.critical {
	color: @critical;
}

#temperature.critical {                                                           
	color: @critical;                                                    
}

#cpu.critical {                                                           
	color: @critical;                                                    
}

#memory.critical {                                                           
	color: @critical;                                                    
}

@keyframes blink1 {                                                                
	to {
		color: @plugged;
	}
}

#battery.plugged {
	background-color: @bgcolor;
	animation-name: blink1;                                                          
	animation-duration: 0.5s;                                                       
	animation-timing-function: linear;                                              
	animation-iteration-count: infinite;                                            
	animation-direction: alternate;
}

@keyframes blink2 {
	to {
		background-color: @charging;
	}
}

#battery.charging {
/*  background-color: @bgcolor; */
	animation-name: blink2;                                                          
	animation-duration: 2.0s;                                                       
	animation-timing-function: ease-in-out;                                              
	animation-iteration-count: infinite;                                            
	animation-direction: alternate;
}

@keyframes blink3 {
	to {
		background-color: @warning;
	}
}

#battery.warning:not(.charging) {
/*  background-color: @bgcolor; */
  	animation-name: blink3;
  	animation-duration: 0.7s;
  	animation-timing-function: ease-in-out;
  	animation-iteration-count: infinite;
  	animation-direction: alternate;
}

@keyframes blink4 {
	to {
		background-color: @critical;
	}
}

#battery.critical:not(.charging) {
 /* background-color: @bgcolor; */
  	animation-name: blink4;
  	animation-duration: 0.8s;
  	animation-timing-function: ease-in-out;
  	animation-iteration-count: infinite;
  	animation-direction: alternate;
}
