/** EWW.SCSS
Created by saimoom 
Modified by cadubio **/

* {
  all: unset;
  font-family: Phosphor;
  /*font-family: DaddyTimeMono;*/
}

/** General **/

.bar_class {
  background-color: #002b36;
  //background-color: #0f0f17;
  //border-radius: 16px;
}

/*
.module_time_date {
  margin: 0px;
  border-radius: 10px 16px 0px 10px;
}
*/

/** tooltip!! **/
tooltip.background {
  background-color: #0f0f17;
  font-size: 14px;
  border-radius: 10px;
  color: #bfc9db;
}

tooltip label {
  margin: 6px;
}

/** Widgets **/

.clock_time_sep {
  font-size: 16px;
  color: #bfc9db;
  margin: 0px;
}
.clock_time_class,
.clock_minute_class {
  font-size: 16px;
}

.clock_time_class {
  margin-left: 8px;
}

.clock_minute_class {
  margin: 0px 6px 0px 3px;
  color: #bfc9db;
}

.clock_date_class {
  font-size: 14px;
  margin: 0px 5px;
  color: #E5BE9E;

}
.dia_mes {
  margin-right: 3px;
}

.data {
  margin-bottom: -10px;
  padding: 0px;

}

.dia {
  margin-top: 0px;
}

.clock_time_class {
  color: #bfc9db;
  font-weight: bold;
  margin: 0px 3px 0px 0px;
}

.updates_icon,
.updates_text {
  color: #839496;
  font-weight: normal;
  font-size: 14px;

}

.updates_text {
  margin-right: 10px;
}

.mem_module {
  background-color: #0f0f17;
  border-radius: 16px;
  margin: 8px 8px;
}

.membar {
  color: #e0b089;
  background-color: #4d4b38;
  border-radius: 16px;
}

.iconmem {
  color: #e0b089;
  font-size: 14px;
  margin: 12px;
}

.bat_module {
  background-color: #0f0f17;
  border-radius: 16px;
  margin: 8px 8px;
}

.batbar_icon {
    color: #afbea2;
    font-size: 12px;
    margin: 10px;
}

.batbar_carregada {
  color: #afbea2;
  background-color: #0f0f17;
  border-radius: 16px;

}

.batbar_carregando,
.batbar_critico,
.batbar_aviso,
.batbar_medio {
  //color: #0f0f17;
  //background-color: #4d4b38;
  color: #afbea2;
  background-color: #38384d;
  border-radius: 16px;
}


.titulo_janela {
  color: #839496;
}

/* Avisos bateria */
//background-color: #afbea2;
//color: #898ae0;
//background-color: #4d4b38;
//border-radius: 10px;


@keyframes blink1 {
  to {
    background-color: #acfcad;
  }
}

.batbar_carregando {
  //background-color: #38384d;
  animation-name: blink1;
  animation-duration: 2.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink2 {
  to {
    background-color: #07fb05;
  }
}

.batbar_medio {
  /*  background-color: #002b36; */
  animation-name: blink2;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink3 {
  to {
    background-color: #f3f809;
  }
}

.batbar_aviso {
  /*  background-color: #002b36; */
  animation-name: blink3;
  animation-duration: 1.7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink4 {
  to {
    background-color: #ff0000;
  }
}

.batbar_critico {
  /* background-color: #002b36; */
  animation-name: blink4;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/*
.batbar_carregada {
  background-color: #afbea2;
  color: #898ae0;
  //background-color: #4d4b38;
  border-radius: 10px;
}
*/

/* FIM Avisos Bateria */

.brightbar trough highlight {
  background-image: linear-gradient(to right, #e4c9af 30%, #f2cdcd 50%, #e0b089 100% * 50);
  border-radius: 10px;
}
.volbar trough highlight {
  background-image: linear-gradient(to right, #afcee0 30%, #a1bdce 50%, #77a5bf 100% * 50);
  border-radius: 10px;
}
.volume_icon {
  font-size: 18px;
  color: #a1bdce;
  margin: 0px 3px 0px 5px;
}

.module_essid {
  font-size: 14px;
  color: #a1bdce;
  margin: 0px 10px 0px 0px;
}
.module-wif {
  font-size: 18px;
  color: #e4c9af;
  border-radius: 100%;
  margin: 0px;
}

.bright_icon {
  font-size: 18px;
  color: #e4c9af;
  margin: 0px 8px 0px 8px;
}

.separ {
  color: #3e424f;
  font-weight: bold;
  font-size: 16px;
  margin: 0px;
}


scale trough {
  all: unset;
  background-color: #22242b;
  box-shadow: 0 2px 3px 2px #06060b;
  border-radius: 16px;
  min-height: 10px;
  min-width: 70px;
  margin: 0px 10px 0px 0px;
}

.works {
  font-size: 20px;
  font-weight: normal;
  //background-color: #170f0f;
}

.0,
.01,
.02,
.03,
.04,
.05,
.06,
.07,
.011,
.022,
.033,
.044,
.055,
.066,
.077 {
  margin-left: 10px 
}

/* Unoccupied */
.0 {
  color: #3e424f;
}

/* Occupied */
.01,
.02,
.03,
.04,
.05,
.06,
.07 {
  color: #bfc9db;
}

/* Focused */
.011,
.022,
.033,
.044,
.055,
.066,
.077 {
  //color: #a1bdce;
  color: #e0b089;
}

/*
.song_cover_art {
	background-size: cover;	
	background-position: center;
	min-height: 24px;
	min-width: 24px;
	margin: 10px;
	border-radius: 100px;
}

.song {
	color: #a1bdce;
	font-size : 18px;
	font-weight : bold;
	margin : 3px 5px 0px 0px;
}

.song_btn_play {
	color: #a1bdce;
	font-size : 28px;
	margin : 3px 0px 0px 5px;

}


.song_btn_prev, .song_btn_next {
	color: #bfc9db;
	font-size : 24px;
	margin : 3px 0px 0px 5px;

}
*/

// Calendar
.cal {
  background-color: #0f0f17;
  font-family: "Fira Code";
  font-size: 14px;
  font-weight: normal;

  .cal-in {
    padding: 0px 10px 0px 10px;
    color: #bfc9db;

    .cal {
      &.highlight {
        padding: 20px;
      }

      padding: 5px 5px 5px 5px;
      margin-left: 10px;
    }
  }
}

calendar {
  color: #bfc9db;
}
calendar:selected {
  color: #bfc9db;
  background-color: #42424f;
  border-radius: 22px;
}

calendar.header {
  color: #dfb893;
  font-weight: bold;
}

calendar.button {
  color: #afbea2;
}

calendar.highlight {
  color: #e9e111;
  font-weight: bold;
}

calendar:indeterminate {
  color: #bfc9db;
}

.sys_sep {
  color: #38384d;
  font-size: 18px;
  margin: 0px 10px 0px 10px;
}
.sys_text_bat_sub,
.sys_text_mem_sub {
  font-size: 14px;
  color: #bbc5d7;
  margin: 5px 0px 0px 25px;
}
.sys_text_bat,
.sys_text_mem {
  font-size: 18px;
  font-weight: bold;
  margin: 0px 0px 0px 25px;
}
.sys_icon_bat,
.sys_icon_mem {
  font-size: 20px;
  margin: 20px;
}
.sys_win {
  background-color: #0f0f17;
  border-radius: 16px;
}
.sys_bat {
  color: #afbea2;
  background-color: #38384d;
  border-radius: 10px;
}
.sys_mem {
  color: #e4c9af;
  background-color: #38384d;
  border-radius: 10px;
}
.sys_icon_bat,
.sys_text_bat {
  color: #afbea2;
}
.sys_icon_mem,
.sys_text_mem {
  color: #e4c9af;
}
.sys_bat_box {
  border-radius: 16px;
  margin: 0px 10px 10px 20px;
}
.sys_mem_box {
  border-radius: 16px;
  margin: 0px 10px 15px 20px;
}

.bto_fechar_system {
  font-size: 26px;
  margin: 0px 0px -15px 180px;
  color: #a1bdce;
}

/*
.music_pop {
  background-color: #0f0f17;
	border-radius: 16px;
}
  .music_cover_art {
	background-size: cover;
	background-position: center;
	min-height: 100px;
  box-shadow: 5px 5px 5px 5px #06060b;
	min-width: 170px;
	margin: 20px;
	border-radius: 20px;
}

.music {
	color: #a1bdce;
	font-size : 20px;
	font-weight : bold;
	margin : 20px 0px 0px -15px;
}

.music_artist {
	color: #bbc5d7;
	font-size : 16px;
	font-weight : normal;
	margin : 0px 0px 0px 0px;
}

.music_btn_prev, .music_btn_play, .music_btn_next {
	font-family: Iosevka Nerd Font;
}
.music_btn_prev {
	color: #bbc5d7;
	font-size : 32px;
	font-weight : normal;
	margin: 0px 0px 0px 0px;
}
.music_btn_play {
	color: #a1bdce;
	font-size : 48px;
	font-weight : normal;
	margin: 0px 0px 0px 0px;
}
.music_btn_next {
	color: #bbc5d7;
	font-size : 32px;
	font-weight : normal;
	margin: 0px 0px 0px 0px;
}

.music_bar scale trough highlight {
	all: unset;
  background-image: linear-gradient(to right, #afcee0 30%, #a1bdce 50%, #77a5bf 100% *50);
	border-radius: 24px;
}
.music_bar scale trough {
	all: unset;
	background-color: #232232;
  box-shadow: 0 6px 5px 2px #06060b;
	border-radius: 24px;
	min-height: 13px;
	min-width: 190px;
	margin : -10px 10px 20px 0px;
}
*/

/* Audio Box */

.audio_box {
  background-color: #0f0f17;
  border-radius: 16px;
}

.bto_fechar_audio {
  font-size: 26px;
  margin: 0px 0px -15px 145px;
  color: #a1bdce;
}

.speaker_icon {
  background-size: cover;
  background-image: url("images/speaker.png");
  background-position: center;
  min-height: 30px;
  min-width: 35px;
  margin: 0px 10px 0px 10px;
  border-radius: 12px;
}

.speaker_text {
  color: #a1bdce;
  font-size: 16px;
  font-weight: bold;
  margin: 0px;
}

.speaker_bar scale trough highlight {
  all: unset;
  background-image: linear-gradient(to right, #afcee0 30%, #a1bdce 50%, #77a5bf 100% * 50);
  border-radius: 24px;
}

.speaker_bar scale trough {
  all: unset;
  background-color: #232232;
  box-shadow: 0 6px 5px 2px #06060b;
  border-radius: 24px;
  min-height: 13px;
  min-width: 120px;
  margin: 0px;
}

.mic_icon {
  background-size: cover;
  background-image: url("images/mic.png");
  background-position: center;
  min-height: 30px;
  min-width: 35px;
  margin: 10px;
  border-radius: 12px;
}

.mic_text {
  color: #a1bdce;
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
}

.mic_bar scale trough highlight {
  all: unset;
  background-image: linear-gradient(to right, #afcee0 30%, #a1bdce 50%, #77a5bf 100% * 50);
  border-radius: 24px;
}

.mic_bar scale trough {
  all: unset;
  box-shadow: 0 6px 5px 2px #06060b;
  background-color: #232232;
  border-radius: 24px;
  min-height: 13px;
  min-width: 120px;
  margin: 0px 0px 10px;
}

.audio_sep {
  color: #38384d;
  font-size: 14px;
  margin: 0px;
}
/* FIM Audio Box */

.menu_desliga {
  border-radius: 6px;
  border-style: solid;
  border-width: 3px;
  border-color: #77a5bf;
  background-color: #22242b;
}

.menu_opcoes,
.opcoes {
  border: none;
}
.d,
.r,
.l,
.c {
  margin: 5px 5px 2px 5px;
  border-radius: 12px;
  border-style: solid;
  border-width: 2px;
  border-color: #77a5bf;
  background-color: #22242b;
  font-size: 28px;
}

.menu_desliga_opcoes {
  background-color: #22242b;
  font-size: 12px;
  margin: 0px;
  color: #bbc5d7;
}

.aviso {
  border: 3px solid #77a5bf;
  border-radius: 12px;
  color: #e94f4f;
  background-color: #38384d;
  font-size: 24px;
  margin-bottom: 60px;
}

.bto_batCritica_fechar {
  font-size: 26px;
  color: #a1bdce;
  margin: 0px 0px -20px 345px;
  padding: 2px;
}

.txt_nivel_critico {
  margin-left: 20px;
}

.system-btn-off {
  margin-left: 8px;
  color: #a1bdce;
}

.system-btn-on {
  color: #e94f4f;
  margin-left: 8px;
}
