* {
  font-family: "Symbols Nerd Font";
}

.power_menu {
  border-radius: 9px;
  border-style: solid;
  border-width: 3px;
  background-color: #22242b;
}

.power_btn {
  margin: 15px;
  min-width: 50px;
  min-height: 50px;
  border-radius: 12px;
  border-style: solid;
  border-width: 2px;
  border-color: #77a5bf;
  background-color: #22242b;
  font-size: 28px;
}

.power_txt {
  margin: 0px 10px 10px 10px;
  font-size: 14px;
}