* {
  font-family: "Symbols Nerd Font";
}

.record-abrir-box {
  padding: 4px;
  border-radius: 8px;
  border-style: solid;
  border-width: 2px;
  border-color: aliceblue;
  background-color: #6a80ce;
}

.record-abrir-btn {
  margin: 2px;
}

.record-abrir-txt {
  margin: 2px;
  
}

.record-fechar-window {

}

.record-fechar-box {
  
}

.record-fechar-btn {
  background-color: transparent;
  border-style: solid;
  border-width: 0px;
  border-color: aliceblue;
}

.record-fechar-icon {
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: aliceblue;
  background-color: #6a80ce;
  color: black;
}











/* 
  .record-abrir {
    border-radius: 8px;
    border-style: solid;
    border-width: 3px;
    border-color: aliceblue;
    background-color: #6a80ce;
    
  }

  .record_txt {
    margin: 15px;
    min-width: 10px;
    min-height: 10px;
    border-radius: 12px;
    border-style: solid;
    border-width: 2px;
    border-color: #d12fc4;
    background-color: #22242b;
    font-size: 28px;
  }

  .record-box-fechar {
    min-width: 5px;
    min-height: 5px;
    margin: 0px;
  }

  .record-fechar {
    margin: 0px;
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    border-color: aliceblue;
    background-color: #6a80ce;
    
  }

  .record-fechar-icon {
    min-width: 5px;
    min-height: 5px;
  } */