* {
    font-family: "Symbols Nerd Font";
}

.bar {
    background-color: #002b36;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.volume {
    padding: 4px;
}

/* revealer precisa desse espaço para disparar 
https://github.com/Aylur/ags/issues/221
*/

.center-bar {
    padding: 2px;
}

button {
    min-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
}

.dpms-txt {
    font-size: 9px;
    padding: 0px;
}

.dpms-off {
    min-height: 0;
    color: #a1bdce;
    padding: 0px;
    margin: -2px 0px;
}

.dpms-on {
    min-height: 0;
    padding: 0px;
    margin: -2px 0px;
    color: #e94f4f;
}

.btn_tray {
    color: black
}


.window-title {
    font-size: small;
}

.workspaces {
    border: 1px solid @theme_bg_color;
    border-radius: 12px;
}

.workspaces button.focused {
    border-bottom: 1.5px solid aqua;
    border-radius: 4px;
}

.cpu,
.ram,
.home {
    font-size: 9px;
    color: #a1bdce;
}

.cpu-porc,
.ram-porc,
.home-porc {
    font-size: 10px;
}

.battery-icon {
    font-size: 15px;
    color: #a1bdce;
}

.battery-txt {
    font-size: 12px;
}

.battery-box {
    background-color: #002b36;
}

@keyframes blink3 {
    to {
        background-color: #acaf09;
    }
}

.battery-box-aviso {
    animation-name: blink3;
    animation-duration: 2.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.audio {
    color: #a1bdce;
}

.updates {
    font-size: 12px;
    color: #a1bdce;
}


.vpn-off {
    font-size: 8px;
    font-weight: bold;
    background-color: #002b36;
    border: 1px solid #a1bdce;
    border-radius: 8px;
    margin: 3px 1px;
    padding: 4px 2px 1px 2px;
   
}

.vpn-on {
    font-size: 8px;
    font-weight: bold;
    background-color: #e94f4f;
    border: 1px solid #a1bdce;
    border-radius: 8px;
    margin: 3px 1px;
    padding: 4px 2px 1px 2px;
   
}