* {
    all: unset;
    font-family: Phosphor;
    background-color: #38384d;
}
.aviso {
    border: 3px solid #77a5bf;
    border-radius: 12px;
    color: #e94f4f;
    background-color: #38384d;
    font-size: 24px;
    margin-bottom: 60px;
  }
  
  .bto_batCritica_fechar {
    font-size: 26px;
    color: #a1bdce;
    margin: 0px 0px -20px 345px;
    padding: 2px;
  }
  
  .txt_nivel_critico {
    margin-left: 20px;
  }

.sys_bat {
    color: #afbea2;
    background-color: #38384d;
    border-radius: 10px;
  }

.sys_icon_bat {
  font-size: 20px;
  margin: 20px;
}