* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }

  body {
    font-size: 100%;
    
}

.cabecalho {
position: fixed;
overflow: hidden;
width: 100%;
}

.cabecalho-menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  background-color: whitesmoke;
}

.cabecalho-menu-itens {
  display: flex;
  gap: 32px;
}

 
.cabecalho-imagem {
  height: 72px;
}

.conteudo {
  background-image: 
      url("imagens/fundo/paisagem-canion.jpg"),
      linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
  height: 1920px;
background-repeat: no-repeat;

  }
