// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$theme_fg_color: "@theme_fg_color";
$theme_bg_color: "@theme_bg_color";

window.openScreenCapture {
    window {
        all: unset;
        background-color: alpha(black, 0.3);
    }
    window > box {
        margin: 10px;
        padding: 30px;
        box-shadow: 2px 3px 5px 0 alpha(black, 0.6);
        border-radius: 11px;
        border-color: alpha(white, 0.8);
        border-style: solid;
        border-width: 1px;
        background-color: #181818;
        color: white;
        min-width: 200px;
    }
    
    box > label {
        font-size: large;
        margin: 6px;
    }
}
